h1 {
    color: blue;
}

.imagenFIFA {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #107add;
}
.imagenSelecciones{
    width: 100%;
    height: auto;
    border-bottom: 5px solid #107add;
}

.noticia-container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background-color: #c4d3db;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(50, 132, 153, 0.397);
}
.Noticia1{
    padding: 20px;
}
.Noticia2{
    padding: 20px;
}